<header class="navbar">
  <div class="container">
    <h2 class="logo"><a href="/">PostDesk</a></h2>
    <nav>
      <div class="nav-bar">
        <ul class="nav-links">
          <li><a href="/posts">Posts</a></li>
          <li><a href="/posts/new">Create</a></li>
          <li><a href="/feedback">Feedback</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
